<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="sdr.driver.cp.permissions"
    >

    <application android:supportsRtl="true">

        <activity
            android:name="sdr.driver.cp.permissions.GetTunerAccessActivity"
            android:exported="true"
            android:screenOrientation="locked"
            android:theme="@style/Transparent"
            />
        <!--
        Android's USB permission flow misbehaves on configuration change
        —it signals back as if permission has been denied, which
        causes `GetTunerAccessActivity` to return the corresponding result.
        To avoid the most common configuration change, the screen orientation is locked.
        -->

        <activity
            android:name="sdr.driver.cp.permissions.DummyActivity"
            android:theme="@android:style/Theme.Translucent"
            >
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter"
                />
        </activity>

        <activity
            android:name=".ManagePermissionsActivity"
            android:theme="@style/ManagePermissions"
            />

    </application>

</manifest>
