<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="sdr.driver.cp.test.buddy"
    >

    <permission
        android:name="sdr.driver.cp.test"
        android:protectionLevel="signature"
        />

    <application
        android:label="@string/app_name"
        android:permission="sdr.driver.cp.test"
        >

        <service
            android:name="sdr.driver.cp.test.buddy.MainService"
            android:exported="true"
            />

        <activity android:name="sdr.driver.cp.test.buddy.AccessWantingActivity" />

    </application>

</manifest>
