<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="sdr.driver.cp"
    >

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:name="sdr.driver.cp.DriverApplication"
        android:allowBackup="false"
        >
        <!-- no backup/restoration, because the permissions DB should be fixed after restoration
             and no such thing is currently implemented
        -->

        <activity
            android:name="sdr.driver.cp.MainActivity"
            android:theme="@style/MainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LicenseActivity"
            android:theme="@android:style/Theme.Material.Light.DarkActionBar"
            />

    </application>

</manifest>
